/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background: linear-gradient(to bottom, #007fc5, #34a7d6);
    min-height: 100vh;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 25px 20px;
}

.cabecalho-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    width: 120px;
}

.cabecalho-principal h1 {
    color: white;
    font-size: 19px;
    font-family: "Poetsen One", sans-serif;
    margin: 0;
    position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

.icons-header {
    display: flex;
    color: white;
    gap: 8px;
    font-size: 22px;
}

i {
    cursor: pointer;
}

.cabecalho-secundario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}

.botao-mobile-filter {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.botao-anunciar {
    background: rgba(255, 255, 255, 0.4);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
    font-family: "Poetsen One", sans-serif;
}

.botao-anunciar:hover {
    background: rgba(255, 255, 255, 0.6);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botao-mobile-filter {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    border: none;
    padding: 10px 15px;
    font-size: 25px;
    color: white;
    border-radius: 10px;

    cursor: pointer;
}

.filtros {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    max-width: 90vw;
    height: 100vh;
    padding: 30px;
    backdrop-filter: blur(15px);
    border-radius: 0px 20px 20px 0;
    transition: .4s cubic-bezier(.4, 0, .2, 1);
    z-index: 1000;
    overflow-y: auto;
}

.grupo {
    margin-bottom: 22px;
}

.grupo h3,
.grupo label {
    white-space: nowrap;
}

.grupo div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.grupo label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.filtros.ativo {
    left: 0;

}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;

}

.overlay.ativo {
    display: block;
}

.filtros h2 {
    margin-bottom: 15px;
}

.grupo {
    margin-bottom: 22px;
}

.grupo h3 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
}

.select-raca {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.65);
}

.cards {
    min-width: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    cursor: pointer;
}

.card {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px;
    color: white;
    transition: transform .25s ease, box-shadow .25s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 20px;
}

@media (min-width: 1200px) {

    .cabecalho-principal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 1.5rem;
    }

    .logo img {
        width: 200px;
    }

    .cabecalho-principal h1 {
        color: white;
        font-size: 30px;
        font-family: "Poetsen One", sans-serif;
        margin: 0;
    }

    .icons-header {
        display: flex;
        color: white;
        gap: 8px;
        font-size: 30px;
    }

    .cabecalho-secundario {
        justify-content: right;
    }

    main {
        flex-direction: row;
        gap: 30px;
        padding: 40px;
    }

    .filtros {
        position: static;
        width: 260px;
        height: 915px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .botao-mobile-filter {
        display: none;
    }

    .cards {
        flex: 1;
        min-width: 0;
        align-items: start;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}