/* Reset */
*{  
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;   
    font-family: "Plus Jakarta Sans", sans-serif;
}

body { 
  background: linear-gradient(to bottom, #0171A3, #48C7ED);
  height: 100vh;
}

.botao-voltar {
    position: absolute;
    top: 30px;
    left: 30px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    background: #80ABBB;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    transition: 0.2s;
}

.botao-voltar:hover {
    transform: scale(1.08);
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.content-login {

  border-radius: 20px 20px 20px 20px;
  background-color: #80ABBB;
  padding: 30px;
  width: 95%;
  max-width: 320px;
  height: 400px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  color: rgba(0,0,0,0.5);

}

.logo {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.box-login { 
  
  width: 75%;
  float: left;
  padding: 10px;
 
}

.input-login {
  position: relative;
}

.input-login i {
  position: absolute;
  right: 12px;
  padding-top: 0.5rem;
  color: rgba(0,0,0,0.5);
}

.input-senha {
  position: relative;
}

.input-senha i {
  position: absolute;
  right: 12px;
  margin-top: 3.7rem;
  color: rgba(0,0,0,0.5);
}

#icon-senha:hover {
  cursor: pointer;
}

.criar-cadastro {
  padding: 25px;
  text-align: center;
}


.botao {
  
  width:100%;
  display: block;
  float:left;
  background-color: #FFFFFF;
  border: none;
  color: #8AA2A4;
  cursor: pointer;
  padding: 15px 80px;
  text-align: center;
  font-size:18px;
  border-radius:10px;
  transition: 0.3s;
  font-family: "Poetsen One", sans-serif;

}

.botao:hover  { 
  background-color: #434d4e; 
  color: #FFFFFF;
}

.campo {
  border: none;
  outline: none;
  padding: 10px 5px;
  padding-right: 40px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  transition: 0.3s;
  border-radius:10px;

}

.campo:focus {
 
  background-color: #fff;
  color: #000000;

}

.campo:placeholder {

  color: #000000;

}

.link {
    
  color: #FFFFFF;
  display:inline-block;
  text-decoration: none;
  transition: 0.3s;

}

.link:hover { color:#434d4e; }

@media (min-width: 1280px) {

  body {
    background-image: url(../img/wallpaper-login.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
  }

  .card {
    padding-right: 60rem;
  }
}